body {
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 120vh;
  height: 60vh;
}

.mount {
  width: 100%;
  height: 100%;
}

pre{
  max-width: 100px;
  max-height: 5px;
  background-color: red;
  margin-bottom: 5px;
}

#een {
  position: relative;
  top: 620px;
}

#twee {
  position: relative;
  right: -150px;
  top: 450px;
}

#drie {
  position: relative;
  right: -300px;
  top: 280px;
}

#vier {
  position: relative;
  right: -450px;
  top: 110px;
}

#vijf {
  position: relative;
  right: -600px;
  top: 280px;
}

#zes {
  position: relative;
  right: -750px;
  top: 150px;
}

#zeven {
  position: relative;
  right: -820px;
  top: 20px;
}
