body {
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 120vh;
  height: 60vh;
}

.mount {
  width: 70%;
  height: 70%;
  position: fixed;
  bottom: 100px;
  right: 200px;
}

#climber {
  height: 20%;
  position: relative;
  z-index: 2;
}

#win {
  height: 20%;
  position: relative;
  bottom: 100px;
  left: 850px;
  visibility: hidden;
}

pre{
  max-width: 100px;
  max-height: 5px;
  background-color: red;
  margin-bottom: 5px;
}

#een {
  position: relative;
  right: 0px;
  top: 540px;
  z-index: 1;
}

#twee {
  position: relative;
  right: -150px;
  top: 450px;
  z-index: 1;
}

#drie {
  position: relative;
  right: -250px;
  top: 280px;
  z-index: 1;
}

#vier {
  position: relative;
  right: -450px;
  top: 50px;
  z-index: 1;
}

#vijf {
  position: relative;
  right: -600px;
  top: -40px;
  z-index: 1;
}

#zes {
  position: relative;
  right: -750px;
  top: 150px;
  z-index: 1;
}

#zeven {
  position: relative;
  right: -950px;
  top: -180px;
  z-index: 1;
}

